<% layout('layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
     <br>
    <h2>Create new listing</h2>
    <form method="POST" action="/listings" novalidate class="needs-validation" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required >
            <div class="valid-feedback">
                Title looks good.
            </div>
            <div class="invalid-feedback">
                Please choose a Title.
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Description should be valid
            </div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" name="listing[image]" placeholder="Enter image URL/link" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" placeholder="Enter price" class="form-control" required>
                <div class="invalid-feedback">
                    Price should be valid.
                </div>
            </div>
            <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
            <div class="invalid-feedback">
                Country should be valid.
            </div>
            </div>
       </div>
       <div class="mb-3 ">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
        <div class="invalid-feedback">
            location should be valid.
        </div>
    </div>
       <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
